<mat-drawer-container [hasBackdrop]="true"  class="app_content">
  <mat-drawer #drawer [mode]="'over'">
    <ng-container *ngIf="customerInformation">
      You are logged in as: <br>
      <span class="app_sidenav_username">{{customerInformation.name}}</span>

    </ng-container>
    <mat-nav-list>

      <a mat-list-item class="app_sidenav_item" (click)="loadProfile()">
        <mat-icon class="app_sidenav_icon">
          <fa-icon [icon]="profileIcon" size="1x"></fa-icon>
        </mat-icon>
        Profile
      </a>

      <a mat-list-item class="app_sidenav_item" (click)="loadSettings()">
        <mat-icon class="app_sidenav_icon">
          <fa-icon [icon]="settingsIcon" size="1x"></fa-icon>
        </mat-icon>
        Settings
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="app_header">

      <button mat-button class="app_header_menu_button" (click)="drawer.toggle()">
        <span style="text-align:center">
          <fa-icon [icon]="menuIcon" size="3x"></fa-icon>
        </span>
      </button>

      <span class="app_header_menu_titel">Just Mobility</span>

      <button mat-button class="app_header_back_button" (click)="goHome()">
        <span style="text-align:center">
          <fa-icon [icon]="backIcon" size="3x"></fa-icon>
        </span>
      </button>

    </mat-toolbar>
    <app-view #view class="app_view"></app-view>
  </mat-drawer-content>
</mat-drawer-container>

